@media screen and (max-width: 980px) {
    .hero {
        justify-content: center;
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    body {
        font-size: 18px;
    }
    .nav-container {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: -620px;
        top: 0;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 1;
        width: 80%;
        min-width: 80vw;
        height: 100%;
        transition: 0.3s;
        padding: 15px;
        margin: 0px;
        justify-content: start;
        align-content: flex-start;
        background-color:gainsboro;
        text-align: end;
    }
    .nav-container.open {
        right: 0px;
        transition: .3s;
        /* overflow-y: auto; */
    }  
    .nav-list {
        flex-direction: column;
        /* overflow-y: scroll; */
        padding: 0px;
        /* margin-left: 127px; */
    }
    .nav-link {
        font-size: 35px;
        line-height: 73px;
        color: var(--main-font-color);
        align-content: flex-start;
        /* overflow-y: scroll; */
        /* overflow: hidden; */
    }
    .logo {
        margin-top: 10px;
    }
    .burger {
        display: block;
        margin-top: 10px;
        /* position: fixed; */
        right: 0;
        z-index: 4;
        transition: .3s;
    }    
    .burger.open {
        background-image: url(./assets/icons/Close.png);
        position: fixed;
        top: 0px;
        right: 400px;
        transition: .3s;
    }  
    .skills-item {
        margin: 0;
    }
    .code-example {
        font-size: 13px;
        padding: 5px;
    }
}
@media screen and (max-width: 740px) {
    .hero {
        justify-content: center;
    }
    .hero-text {
        text-align: center;
    }
}
@media screen and (max-width: 440px) {
    body {
        font-size: 22px;
    }
    .nav-container {
        width: 100%;
    }
    .burger.open {
        right: 280px;
    }
    .code-example {
        font-size: 9px;
    }
    .icon {
        height: 100px;
        width: 100px;
    }
    .footer {
        flex-direction: column;
    }
    .git,
    .date {
        margin: 5px;
    }
}